.author-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;
}
.author-list .author-link {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.author-list .author-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.author-title {
    font-size: 20px;
    margin-bottom: 15px;
}
.author-list .categorie-link {
    margin-bottom: 15px;
}
.author-discription {
    text-align: center;
    margin-bottom: 20px;
}

/* tablet sm*/
@media(min-width: 768px) {
}
