.slide {
    height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url(slider1.jpg);
}
.slide2 {
    background-image: url(slider2.jpg);
}
.slide3 {
    background-image: url(slider3.jpg);
}
