.slider-row {
    /* display: grid;
    grid-template-columns: 1fr; */
}
.slide-image {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

}
.slide1 {
    background-image: url(slider1.jpg);
}
.slide2 {
    background-image: url(slider2.jpg);
}
.slide3 {
    background-image: url(slider3.jpg);
}