.post-section .tags-widget, .post-section .categories-widget, .post-section .author-widget {
    display: block !important;
}
.post-section .author-categorie-link {
    display: none;
}
.post-section .post-title {
    margin-bottom: 20px;
}
.post-section .post-description {
    order: 2;
    margin-top: 20px;
}
