.post-section .tags-widget, .post-section .categories-widget, .post-section .author-widget {
    display: block !important;
}
.post-section .post-img-post-page {
    display: block;
}
.post-section .post-image-link {
    display: none;
}
.post-section .author-categorie-link {
    display: none;
}
.post-section .post-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.post-section .post-description {
    order: 2;
    margin-top: 20px;
}
.post-subtitle, .post-body p  {
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-single-image {
    padding: 15px 0;
}
.post-single-img {
    border-radius: 5px;
}
.post-single-list {
    list-style: disc;
    padding-left: 20px;
}
.post-single-list li {
    padding: 5px 0;
}
.tags-social {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tags-social .social {
    margin-top: 15px;
}
.prev-next-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.prev-next-links .mini-post {
    margin-bottom: 0;
}
.prev-next-links .categorie-link {
    margin-bottom: 10px;
    width: 145px;
}
.prev-next-btns .mini-post {
    margin-bottom: 0;
}
.prev-link, .next-link, .post-comments{
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px 0px #dddddd;
    margin-bottom: 30px;
}
.prev-next-links .nb, .prev-next-links .mini-post-date {
    display: none;
}
.prev-post, .next-post {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev-post {
    padding-right: 7px;
}
.next-post {
    padding-left: 10px;
}


/* tablet sm */
@media(min-width: 768px) {
    .prev-next-links {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }
    .tags-social {
        flex-direction: row;
    }
    .tags-social .social {
        margin-top: 0;
    }
}
