.post-top {
    display: flex;
    flex-direction: column;
}
.post-image {
    margin-top: -65px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px #dddddd;
    overflow: hidden;
}
.post-img {
    border-radius: 20px;
    object-fit: contain;
    transition: all 1s ease-in-out;
}
.post-img:hover {
    transform: scale(1.1);
}
.post-img-post-page {
    display: none;
}
.categorie-favorit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.categorie-link {
    color: #ffffff;
    font-size: 13px;
    font-weight: 800;
    background-color: #f67280;
    padding: 2px 15px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    text-transform: capitalize;
}
.favorite-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}
.liked, .noliked {
    width: 23px;
    height: 23px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}
.liked {
    background-image: url(./liked.png);
} 
.noliked {
    background-image: url(./noliked.png);

}
.post-title {
    margin-bottom: 10px;
    font-size: 20px;
}
.post-title-page {
    display: none;
}
.post-title-link {
    color: #152035;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.4;
    transition: all 0.3s ease-in-out;
}
.post-title-link:hover {
    color: #f67280;
}
.post-description {
    margin-bottom: 30px;
}
.post-info {
    display: flex;
    align-items: center;
}
.author {
    margin-right: 10px;
    display: none;
}
.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.author-name-link {
    color: #506172;
    font-size: 13px;
    font-weight: 500;
}
.author-name-link:hover {
    color: #f67280;
}
.dot {
    width: 4px;
    height: 4px;
    background-color: #f67280;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}
.post-date {
    font-size: 13px;
    font-weight: 500;
}

@media(min-width: 375px) {
    .author {
        display: block;
    }
}