.social .social-item {
    padding-left: 5px;
    padding-right: 5px;
}
.social .social-link {
    color: #ffffff;
    font-size: 17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin-right: 2px;
    transition: all 0.3s ease-in-out;
    padding-top: 4px;
}
.social .social-link:hover {
    background-color: #F9F9FF;
    color: #506172;
}
.facebook-official-link {
    background-color: #3b5998;
}
.instagram-link {
    background-color: #c32aa3;
}
.twitter-link {
    background-color: #1dcaff;
}
.youtube-play-link {
    background-color: #e52d27;
}
.pinterest-link {
    background-color: #bd081c;
}
