.menu {
    display: none;
}
.menu-item {
    position: relative;
    cursor: pointer;
}
.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link, .submenu-link {
    color: #152035;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    display: block;
    cursor: pointer;
}
.menu-link:hover {
    color: #f67280;
}
.menu-item:hover>.menu-link {
    color: #f67280;
}
.submenu-list {
    background-color: #ffffff;
    width: 120px;
    position: absolute;
    left: 15px;
    top: 25px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px 0px #9e9e9e;
    display: none;
    z-index: 1;
}
.submenu-link {
    font-size: 14px;
    padding: 10px;
    text-align: left;
}
.submenu-link:hover {
    color: #f67280;
}
.categories-link::after {
    color: #152035;
    margin-left: 5px;
    content: "\25BE";
}
.categories-link:hover::after {
    color: #f67280;
}
.categories-item-desktop {
    display: none !important;
}
.favorites-link {
    display: flex;
    align-items: center;
}
.favorites-link .liked, .favorites-link .noliked {
    width: 18px;
    height: 18px;
}
.heart-menu {
    margin: 0 5px;
}
/* laptop md*/
@media(min-width:992px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-item:hover .submenu-list {
        display: block;
    }
    .categories-item-desktop {
        display: block !important;
    }
    .categories-item-mobile {
        display: none;
    }
}

/* only mobile max 992*/

/* mobile-menu */
@media(max-width:991px) {

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav-mobile-menu {
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 30;
    }
    .nav-mobile-menu span {
        height: 2px;
        background-color:#152035;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:nth-child(1) {
        top: 1px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 9px;
    }
    .nav-mobile-menu span:nth-child(3) {
        bottom: 1px;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .navigation {
        width: 100%;
        top: 70px;
        left: 0;
        position: fixed;
        transform: translateX(100%);
        transition: all 350ms ease-in-out;
        background-color: #ffffff;
        justify-content: left;
        z-index: 10;
    }
    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(225deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-225deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        z-index: 20;
    }
    .menu-list {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
    }
    .menu-item {
        display: flex;
        padding: 8px;
    }
    .categories-item {
        flex-direction: column;
        width: 100%;
    }
    .menu-link {
        font-size: 16px;
        padding: 3px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
    }
    .submenu-list {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        padding: 10px 20px;
        background-color: #F9F9FF;
        box-shadow: none;
    }
    .submenu-link {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}