.title-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}
.breadcrumb-list {
    display: flex;
}
.breadcrumb-link {
    font-size: 80%;
    color: #506172;
    text-transform: capitalize;
}
.breadcrumb-item:not(:last-child):after {
    content: "\203A";
    font-size: 17px;
    padding: 0 7px;
}
.title span {
    color: #f67280;
    text-transform: capitalize;
}
.title-text {
    margin-top: 20px;
}

/* Laptop md */
@media(min-width: 992px) {
    .title-row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 15px;
    }
}