.author-section .author-list {
    padding: 30px 0;
}

/* tablet sm*/
@media(min-width: 768px) {
    .author-section .author-list {
        width: 600px;
    }
}
/* laptop md*/
@media(min-width:992px) {
    .author-section .post-cards-row {
        grid-template-columns: repeat(2, 1fr);
    }
}
