.subscribe {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #152035;
}
.subscribe-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe-title {
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 10px;
}
.subscribe-text {
    color: #eee;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.subscribe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subscribe-item {
    padding-left: 10px;
    padding-right: 10px;
}
.subscribe-link {
    color: #eee;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.subscribe-link:hover {
    color: #f67280;
}
.subscribe-link>i{
    margin-right: 7px;
}