.name-email-fields {
    display: flex;
    justify-content: space-between;
}
.name-email-fields .contact-form-field {
    width: 47%;
}
.comments-form {
    margin-top: 30px;
}
.comments-form h5, .comments-form p {
    margin: 15px 0;
}
.comments {
    margin-bottom: 50px;
}
.comment {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 15px 0;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.comment-text {
    margin: 10px 0;
}