.post-pagination-row {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-list {
    display: flex;
}
.pagination-item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #f67280;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
    line-height: 30px;
    cursor: pointer;
}
.pagination-link {
    color: #f67280;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.pagination-item:hover {
    background-color: #f67280;
}
.pagination-item:hover .pagination-link {
    color: #ffffff;
}
.pagination-link .MuiSvgIcon-root {
    margin-top: 6px;
}
